* {
    
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 0.06rem;
    line-height: 1.2;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
  }

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr 4fr;
}

.sidebar {
  grid-column: 1 / 2; 
  grid-row: 1 / -1;
  
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: aqua;
  color: white;
}

.sidebar-nav {

}

.header {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;

}

.user-nameplate {
}

.user-icon {
    display: inline-block;
    background-color: rebeccapurple;
    border-radius: 8px;
    width: 36px;
    text-align: center;
}

.user-name {
    display: inline-block;
}

.header-welcome {
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
}

.header-nav-button {
  background-color: aqua;
  border-radius: 8px;
  color: white;
}

.container-main {
  grid-column: 2 / -1;
  grid-row: 2 / -1; 

  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 8px;
  padding: 8px;
  background-color: rgb(225,225,225);
}

h2 {
  font-size: 1.2rem;
  font-weight: 800;
}

.container-cards {
  grid-column: 1 / 2;
  
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr) );
  grid-template-rows: repeat(3, minmax(115px, 1fr) );
  gap: 15px;
}

.card {
  background-color: white;
  border-left: 4px solid goldenrod;
  border-radius: 8px;
  text-align: left;
  padding: 4px;
}

.card-title {
    font-weight: 700;
}

.container-sidebar {
  
  grid-column: 2 / -1;
    
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.announcements {
  background-color: white;
  border-radius: 8px;
}

.announcements-item {
    border-bottom: 1px solid lightslategray;
}

h4 {
    font-weight: 600;
}

.trending {
    background-color: white;
    border-radius: 8px;
}